In [1]:
import boto3

In [2]:
# Creating dynamodb resource
dynamodb = boto3.resource('dynamodb')

In [5]:
# Creating Table
table = dynamodb.create_table(
    TableName = 'Resume',
    KeySchema = [
      {
          'AttributeName' : 'id',
          'KeyType' : 'HASH',
      }  
    ],
    AttributeDefinitions = [
        {
          'AttributeName' : 'id',
          'AttributeType' : 'S',
        }
    ],
    ProvisionedThroughput = {
            'ReadCapacityUnits' : 5,
            'WriteCapacityUnits' : 5
        }
    
)

In [13]:
table.reload()
print("Table status:", table.table_status)

Table status: ACTIVE

In [17]:
#Function to add Data
def add_resume(id, name, email, school, skills):
    table.put_item(
        Item = {
            'id' : id,
            'name' : name,
            'email' : email,
            'school' : school,
            'skills' : skills
        }
    )

In [18]:
#Sample Data
resume_data = {
    'id' : '1',
    'name' : 'John Doe',
    'email' : 'jd@jdnoname.com',
    'school' : 'oxford',
    'skills' : ['Python', 'AWS']
    
}

In [20]:
add_resume(**resume_data)

In [21]:
# Table data view
table.scan()

{'Items': [{'school': 'oxford',
   'skills': ['Python', 'AWS'],
   'id': '1',
   'email': 'jd@jdnoname.com',
   'name': 'John Doe'}],
 'Count': 1,
 'ScannedCount': 1,
 'ResponseMetadata': {'RequestId': '015LN80URUOAJJR3IEVJJGLOQ7VV4KQNSO5AEMVJF66Q9ASUAAJG',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'server': 'Server',
   'date': 'Fri, 28 Jun 2024 19:38:04 GMT',
   'content-type': 'application/x-amz-json-1.0',
   'content-length': '179',
   'connection': 'keep-alive',
   'x-amzn-requestid': '015LN80URUOAJJR3IEVJJGLOQ7VV4KQNSO5AEMVJF66Q9ASUAAJG',
   'x-amz-crc32': '353703381'},
  'RetryAttempts': 0}}

In [26]:
# Query the table for resume id 1

def query_resume_by_id(id):
    response = table.query(
        KeyConditionExpression=boto3.dynamodb.conditions.Key('id').eq(id)
    )
    items = response['Items']
    return items

resume = query_resume_by_id('1')

print(resume)

[{'school': 'oxford', 'skills': ['Python', 'AWS'], 'id': '1', 'email': 'jd@jdnoname.com', 'name': 'John Doe'}]

In [27]:
#Sample Data
resume_data2 = {
    'id' : '2',
    'name' : 'Jonathon Doe',
    'email' : 'jd@jdnoname.com',
    'school' : 'oxford',
    'skills' : ['Python', 'AWS']
    
}

In [28]:
add_resume(**resume_data2)

In [29]:
#Viewing after adding second resume

table.scan()

{'Items': [{'school': 'oxford',
   'skills': ['Python', 'AWS'],
   'id': '2',
   'email': 'jd@jdnoname.com',
   'name': 'Jonathon Doe'},
  {'school': 'oxford',
   'skills': ['Python', 'AWS'],
   'id': '1',
   'email': 'jd@jdnoname.com',
   'name': 'John Doe'}],
 'Count': 2,
 'ScannedCount': 2,
 'ResponseMetadata': {'RequestId': 'CGSB18M11I7238H570M7PE91HVVV4KQNSO5AEMVJF66Q9ASUAAJG',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'server': 'Server',
   'date': 'Fri, 28 Jun 2024 19:46:24 GMT',
   'content-type': 'application/x-amz-json-1.0',
   'content-length': '324',
   'connection': 'keep-alive',
   'x-amzn-requestid': 'CGSB18M11I7238H570M7PE91HVVV4KQNSO5AEMVJF66Q9ASUAAJG',
   'x-amz-crc32': '968719762'},
  'RetryAttempts': 0}}

In [31]:
# Searching second resume

resume = query_resume_by_id('2')

print(resume)

[{'school': 'oxford', 'skills': ['Python', 'AWS'], 'id': '2', 'email': 'jd@jdnoname.com', 'name': 'Jonathon Doe'}]

In [39]:
# Function to delete item
def delete_resume_by_id(id):
    try:
        response = table.delete_item(
            Key={
                'id': id
            }
        )
        print(f"Successfully deleted item with id '{id}")
    except Exception as e:
        print(f"Error deleting item: {e}")

In [40]:
delete_resume_by_id('2')

Successfully deleted item with id '2

In [47]:
response = table.get_item(Key = {'id' : '1'})
item = response.get('Item')

In [48]:
item

{'school': 'oxford',
 'skills': ['Python', 'AWS'],
 'id': '1',
 'email': 'jd@jdnoname.com',
 'name': 'John Doe'}